:root {
  font-family: "Merriweather";
}

/* Grid */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Grid mobile */
@media (max-width: 1000px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.wrapper__section {
  position: relative;
  margin: auto;
}

.section__figure {
  text-align: center;
}

/* Título */
.figure__container {
  display: inline-block;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  overflow: hidden;

  position: relative;
}

.figure__container img {
  position: absolute;
  left: -0%;
  top: -70px;
}

.figure__title {
  display: inline-block;
}

h1,
h2 {
  text-transform: capitalize;
}

.section__div {
  width: 100%;
  text-align: center;
}

.div__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.div__list li:not(:last-child) {
  padding-bottom: 10px;
}

a,
span {
  color: darkgrey;
}

/* Redes */
.a__figure {
  display: inline-block;
  margin: 5px;
}

.figure__icon {
  filter: grayscale(100%);
}

.figure__icon img {
  border-radius: 20%;
}

/* Formação */
article .wrapper:not(:first-child) {
  margin-top: 5px;
  border-top: darkgrey solid 1px;
}

h5 {
  margin-bottom: 5px;
  margin-bottom: 5px;
}

span {
  font-size: smaller;
}
